<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>
  <aside th:fragment="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/}" class="brand-link">
      <span class="brand-text font-weight-light">WBS管理システム</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="info">
          <a href="#" class="d-block" sec:authentication="name">ユーザー名</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
          <li class="nav-item">
            <a th:href="@{/}" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>ダッシュボード</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/wbs}" class="nav-link">
              <i class="nav-icon fas fa-tasks"></i>
              <p>WBS</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-clipboard-list"></i>
              <p>
                タスク管理
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/task-manage/list}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>タスク一覧</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-project-diagram"></i>
              <p>
                案件管理
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/project/regist}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>案件登録</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/project/list}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>案件一覧</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- 管理者のみ表示 -->
          <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                マスタ管理
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a th:href="@{/master/category}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>区分マスタ</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/master/staff}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>担当者マスタ</p>
                </a>
              </li>
              <li class="nav-item">
                <a th:href="@{/master/functions}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>機能マスタ</p>
                </a>
              </li>
            </ul>
          </li>
          <!-- ログアウトボタン -->
          <li class="nav-item">
            <form th:action="@{/logout}" method="post" class="nav-link">
              <button type="submit" class="btn btn-link text-white p-0">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>ログアウト</p>
              </button>
            </form>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
</body>

</html>