.table-container {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}
.table{
    margin-bottom: 0px;
}
tr.selected {
    background-color: rgba(0, 123, 255, 0.1) !important;
}
.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}
.table-hover tbody tr.selected:hover {
    background-color: rgba(0, 123, 255, 0.15) !important;
}
.clickable-row {
    cursor: pointer;
}